body {
  font-family: "CabinetGrotesk-Black";
}

@font-face {
  body {
    font-family: "CabinetGrotesk-Black";
    src: url(images/CabinetGrotesk-Black) format(opentype);
  }
}

nav {
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: +1;
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  nav .container {
    max-width: 1100px;
  }
}

nav .Logo {
  background-color: white;
  width: 270px;
}

@media screen and (min-width: 100px) and (max-width: 279px) {
  nav .Logo {
    overflow: hidden;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

nav ul li {
  list-style: none;
}

nav ul a {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

nav ul a:hover {
  color: #F78225CC;
}

nav .icon {
  display: none;
}

@media screen and (min-width: 100px) and (max-width: 1200px) {
  nav .topnav {
    position: relative;
  }
  nav .topnav #myLinks {
    display: none;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  nav .topnav .icon {
    position: absolute;
    right: 0px;
    top: -70px;
    display: block;
    color: white;
    overflow: hidden;
  }
  nav .topnav .icon:hover {
    color: aqua;
  }
}

main .section1 {
  position: relative;
}

main .section1 .text_vector {
  margin-top: 180px;
}

main .section1 .text_vector .bold {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: black;
}

main .section1 .text_vector p {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: black;
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  main .section1 .text_vector {
    margin: 0;
  }
}

main .section1 .vector1 {
  position: absolute;
  bottom: 0px;
  cursor: pointer;
}

main .section1 .vector1 img {
  width: 80%;
}

main .section1 .vector1 p {
  margin: 0;
  font-weight: bold;
  padding-left: 10px;
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  main .section1 .vector1 p p {
    margin: 0;
    padding: 0;
  }
}

main .section1 .vector2 {
  position: absolute;
  right: 120px;
  cursor: pointer;
}

main .section1 .vector2 img {
  width: 80%;
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  main .section1 .vector2 {
    right: 0;
    position: static;
  }
  main .section1 .vector2 img {
    width: 28%;
  }
}

main .section1 .animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

main .section1 .animation img {
  width: 50%;
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  main .section1 {
    overflow: hidden;
  }
  main .section1 p {
    text-align: center;
    padding-bottom: 20px;
  }
  main .section1 .vector1 {
    right: 10px;
  }
  main .section1 .vector1 img {
    width: 90%;
  }
  main .section1 .vector1 p {
    padding: 0;
  }
  main .section1 .vector2 {
    width: 70%;
  }
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  main .section2 {
    position: absolute;
    top: 500px;
  }
}

main .section2 .iconn {
  width: 100%;
}

main .section2 .iconn ul {
  margin-left: 7%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  cursor: pointer;
}

main .section2 .iconn ul li {
  list-style: none;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  main .section2 .iconn ul {
    margin: 0;
    display: none;
  }
}

main .section3 .cont {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

main .section3 .cont:hover .overlay {
  opacity: 1;
}

main .section3 .cont .img {
  display: block;
  width: 100%;
  height: auto;
}

main .section3 .cont .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #F78225CC;
}

main .section3 .cont .icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

main .homeicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 120px;
}

main .homeicon p {
  margin: 0;
  padding-left: 10px;
}

main .homeicon a {
  color: black;
}

main .homeicon a:hover {
  color: #F78225CC;
  font-weight: bold;
}

main .rabbittext {
  padding-left: 350px;
  max-width: 1000px;
  margin-top: 30px;
}

main .rabbittext h3 {
  font-weight: bold;
  font-size: 40px;
}

@media screen and (min-width: 100px) and (max-width: 1370px) {
  main .rabbittext {
    padding: 0;
    max-width: 100%;
  }
}

main .rabbitimg img {
  width: 100%;
}

@media screen and (min-width: 100px) and (max-width: 1370px) {
  main .rabbitimg {
    max-width: 100%;
  }
}

main .othert {
  margin-top: 30px;
}

main .othert p {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

main .otherimg {
  margin-top: 20px;
  max-width: 100%;
}

.mainn {
  height: 570px;
}

.mainn .homeicon {
  margin-top: 120px;
}

.mainn .homeicon img {
  cursor: pointer;
}

.mainn .homeicon .homep a:hover {
  color: #F78225CC;
  font-weight: bold;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  .mainn .homeicon {
    display: none;
  }
}

.mainn .endcontact {
  margin-top: 30px;
}

.mainn .endcontact .pp {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  .mainn .endcontact {
    position: absolute;
    top: 250px;
  }
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  .mainn #roww {
    position: relative;
  }
}

.mainn .contaktt img {
  width: 80%;
  margin: 30px 0px 0px 70px;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
  .mainn .contaktt img {
    margin: 0;
    position: absolute;
    top: 100px;
    padding-left: 20px;
  }
}

footer {
  background-color: black;
  padding-bottom: 30px;
}

footer .logo {
  background-color: white;
  width: 200px;
  margin-top: 30px;
}

footer .logo img {
  width: 200px;
}

footer .setting {
  margin-top: 30px;
}

footer .setting p {
  color: white;
}

footer .contakt {
  margin-top: 30px;
  padding-left: 55px;
}

footer .contakt p {
  color: white;
}

@media screen and (min-width: 100px) and (max-width: 990px) {
  footer .contakt {
    padding: 0;
  }
}

footer .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

footer .icons ul li {
  list-style: none;
}

@media screen and (min-width: 100px) and (max-width: 990px) {
  footer .icons ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    padding: 0;
    gap: 20px;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */