body{
    @font-face {
        font-family: "CabinetGrotesk-Black";
        src: url(images/CabinetGrotesk-Black) format(opentype);
    }
    font-family: "CabinetGrotesk-Black";
}
nav{
    background: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: +1;
.container{
    @media screen and (min-width:100px) and (max-width:900px) {
        max-width: 1100px;

       } 
}
    .Logo{
        background-color: $white;
        width: 270px;
        @media screen and (min-width:100px) and (max-width:279px) {
           overflow: hidden;

          } 
    }
    ul{
        display: flex;
        @include ull(space-between,30px,100%);
        li{
            list-style: none;         
        }
        a{
            transition: .2s ease-in-out;
            &:hover{
                color:$orangecolor;
            }
        }
    }
    .icon{
        display: none;
    }
    @media screen and (min-width:100px) and (max-width:1200px) {
        
        .topnav{      
            position: relative;
            #myLinks{
                display: none;
                transform: translateY(0%);
            }
            .icon{
                @include iconburger(absolute,0px,-70px,block,$white,hidden);
                &:hover{
                    color: aqua;
                }
            }
        }
       } 
}
main{
   
    .section1{
        position: relative;
        .text_vector{
            margin-top: 180px;
            .bold{
             @include bold('Cabinet Grotesk',normal,700,30px,37px,black)
            }
            p{  
                @include bold('Cabinet Grotesk',normal,400,20px,25px,black)           
            }
            @media screen and (min-width:100px) and (max-width:900px) {
                margin: 0;
            }
        }
        .vector1{
            position: absolute;
            bottom: 0px;
            cursor: pointer;  
            img{
                width: 80%
            }
            p{
                margin: 0;
                font-weight: $fwg;
                padding-left: 10px;
                @media screen and (min-width:100px) and (max-width:900px) {
                   p{
                    margin: 0;
                    padding: 0;
                   }
                   
                  
                  }
            }
          
        }
        .vector2{
            position: absolute;
            right: 120px;
            cursor: pointer;
            img{
                width: 80%;
            }
            @media screen and (min-width:100px) and (max-width:900px) {
                right: 0;
                position: static;
                img{
                    width: 28%;
                }
            }
        }
        .animation{
            display: flex;
            justify-content: center;
            margin-top: 70px;
            img{
                width: 50%;

            }
        }
        @media screen and (min-width:100px) and (max-width:900px) {
            overflow: hidden;
            
           p{
            text-align: center;
            padding-bottom: 20px;
           }
           .vector1{
            right: 10px;
            
            img{
                width: 90%;
            }
            p{
                padding: 0;         
            }
           }
           .vector2{
            width: 70%;
           }
           }
    }
    .section2{
        @media screen and (min-width:100px) and (max-width:1000px) {
            position: absolute;
            top: 500px;
           } 
        .iconn{
            width: 100%;
            ul{
                margin-left: 7%;
                margin-top: 20px;
                display: flex;
                width: 80%;
                justify-content: space-evenly;
                text-align: center;
                cursor: pointer;
                li{
                    list-style: none;            
                }
                @media screen and (min-width:100px) and (max-width:1000px) {
                    margin:0;
                    display: none;
                   } 
            }

        }
    }
    .section3{
        .cont{
            position: relative;
            width: 100%;
            cursor: pointer;
            overflow: hidden;
            
            &:hover{
                .overlay{
                    opacity: 1;
                }
            }
            .img{
                display: block;
                width: 100%;
                height: auto;
            }
            
            .overlay{
               @include overlay(absolute,0,0,0,0,100%,100%,0,.3s ease-in-out,$orangecolor)
            }
            .icon{
                @include icon($white,50px,absolute,50%,50%,translate(-50%,-50%),center)
            }
        }
    }

    .homeicon{
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        margin-top: 120px;
        p{
            margin: 0;
            padding-left: 10px;
        }
        a{
            color: black;
            &:hover{
                color: $orangecolor;
                font-weight: bold;
            }
        }
    }
    .rabbittext{
        padding-left: 350px;
        max-width:1000px;
        margin-top: 30px;
        h3{
            font-weight: $fwg;
            font-size: 40px;

        }
        @media screen and (min-width:100px) and (max-width:1370px) {
            padding: 0;
            max-width: 100%;
           
        } 
    }
    .rabbitimg{
        img{
            width: 100%;
        }
        @media screen and (min-width:100px) and (max-width:1370px) {
          max-width: 100%;
           
        } 
    }
    .othert{
        margin-top: 30px;
        p{
            font-size: 30px;
            font-weight: $fwg;
            color: black;
        }
    }
    .otherimg{
        margin-top: 20px;
        max-width: 100%;
    }
}
.mainn{
    height: 570px;
    .homeicon{
        margin-top: 120px;
        img{
            cursor: pointer;
        }
        .homep{
            a{
    
                &:hover{
                    color: $orangecolor;
                    font-weight: bold;
                }
            }
        }
        @media screen and (min-width:100px) and (max-width:1000px) {
           display: none;
           } 
    }
    .endcontact{
        margin-top: 30px;
        .pp{
            font-size: 26px;
            font-weight:$fwg;
            margin-top: 20px;
        }
        @media screen and (min-width:100px) and (max-width:1000px) {
            position: absolute;
            top: 250px;
           } 
    }
    #roww{

        @media screen and (min-width:100px) and (max-width:1000px) {
            position: relative;
           } 
    }
    .contaktt{
        img{
            width: 80%;
            margin: 30px 0px 0px 70px;
            @media screen and (min-width:100px) and (max-width:1000px) {
              margin: 0;
              position: absolute;
              top:100px;  
              padding-left: 20px;
              } 
        }
    }
}

footer{
    background-color: black;
    padding-bottom: 30px;
    .logo{
        background-color:$white;
        width: 200px;
        margin-top: 30px;
        img{
            width: 200px;  
        }
    }
    .setting{
        margin-top: 30px;
        p{
            color: $white;
        }
    }
    .contakt{
        margin-top: 30px;
        padding-left: 55px;
        p{
            color:$white;
        }
        @media screen and (min-width:100px) and (max-width:990px) {
            padding: 0;
             
          } 
    }
    .icons{
        ul{
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            li{
                list-style: none;
            }
            @media screen and (min-width:100px) and (max-width:990px) {
               justify-content: start;
               text-align: center;
               padding: 0;
               gap: 20px;       
              } 
        }
    }
}
